<mat-toolbar class="toolbar">
        <button 
            (click)="drawer.toggle()"
            mat-icon-button
            class="burger">
            <mat-icon>menu</mat-icon>
        </button>
        <div class="toolBarButton">
            <button 
            mat-flat-button color="primary" 
            class="biggerbutton"
            routerLinkActive="mat-accent" 
            routerLink="home">Home</button>
        </div>
        <div  class="toolBarButton">
            <button 
            mat-flat-button color="primary" 
            class="biggerbutton"
            routerLinkActive="mat-accent"
            routerLink="content" >Content</button>    
        </div>
</mat-toolbar>
<mat-drawer-container 
    class="container" 
    [hasBackdrop]="mdcBackdrop">
    <mat-drawer #drawer class="drawer"  [mode]="drawerMode">
        <div class="sidenav-content">
            <div class="drawerButton" >
              <button 
              (click)="drawer.toggle()"
              mat-flat-button  
              routerLinkActive="mat-accent" 
              color="primary" 
              routerLink="home">Home</button>
            </div>
            <div  class="drawerButton">
              <button 
              (click)="drawer.toggle()"
              mat-flat-button  
              routerLinkActive="mat-accent" 
              color="primary" 
              routerLink="content">Content</button>    
            </div>
          </div>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>